* , *::before , *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainDark: #343a40;
    --mainGrey: rgba(109 , 109 , 109);
    --mainLightGrey: rgba(172,172,172);
    --mainWhite: #fff;
    --mainBlue: #007bff;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler {
    border-color: white !important;
    transition: all 0.3s ease;
}

.navbar-toggler span i {
    transition: all 0.3s ease;
}

.navbar-toggler:hover{
    border-color: var(--mainGrey) !important;
}
.navbar-toggler:hover span i  {
    color: var(--mainGrey) !important;
}